
body{
    text-align: center;
    margin-top: 200px;
    font-family: cursive;
}
button{
    border-radius: 10px;
    border: none;
    background-color: bisque;
    padding: 10px;
    font-weight: bold;
}
button:hover{
    background-color: burlywood;
}
button:active{
    background-color: blanchedalmond;
}